* {
    margin: 0;
    padding: 0;
}


.quadrado {
    position: fixed; /* Acompanha o scroll */
    left: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    font-size: 12px;
    color: white;
}

.circulo {
    position: absolute; /* fica parado num determinado local */ /* São absolutos ao primeiro pai que ele encontrar que é relativo. O body por padrão é relativo */
    top: 100px;
    left: 100px;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}

p {
    margin: 50px;
    width: 300px;
}